pipeline:
  mode: REALTIME  # REALTIME or OFFLINE

kafka:
  bootstrapServers: localhost:9092
  rawTopic: raw-purchases
  outputTopic: enriched-purchases

elasticsearch:
  hosts:
    - http://localhost:9200
  index: purchases
  username: ""
  password: ""
  connectTimeoutMs: 5000
  socketTimeoutMs: 30000

joiner:
  timeoutMs: 30000

reflow:
  sliceThreshold: 10000
  maxSlices: 10
  fetchBatchSize: 1000

enrichers:
  - name: purchase-geo-enricher
    consumerGroup: purchase-geo-enricher-group
    reflowTopic: reflow-purchase-geo
    reflowConsumerGroup: reflow-purchase-geo-group
    className: com.zrivot.enrichment.ApiEnricher
    properties:
      apiUrl: http://geo-service:8080/enrich
      timeoutMs: "5000"

  - name: purchase-fraud-enricher
    consumerGroup: purchase-fraud-enricher-group
    reflowTopic: reflow-purchase-fraud
    reflowConsumerGroup: reflow-purchase-fraud-group
    className: com.zrivot.enrichment.ApiEnricher
    properties:
      apiUrl: http://fraud-service:8080/enrich
      timeoutMs: "5000"
